.wrapper{
    position: relative;
    max-width: 368px;
    width: 100%;
    min-height: 416px;
    border-radius: 6px;
    margin-bottom: 32px;
    cursor: pointer;
}
.cardActive{
    box-shadow: 0 0 0 7px rgb(79, 226, 74);

}
.filterGroup{
    position: absolute;
    bottom: 58px;
    left: 48px;
}
.btn{
    margin-bottom: 14px;
    padding: 9px 16px;
    background: #FFFFFF;
    color: #391400;
    border-radius: 19px;
    cursor: pointer;
}
.name{
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    border-radius: 6px;
}
@media (max-width: 1040px) {
    .filterGroup{
        left: 28px;
        bottom: 58px;
    }
    .wrapper:last-child{
        margin-bottom: 0;
    }
}