.wrapper{
    position: relative;
    max-width: 368px;
    width: 100%;
    min-height: 416px;
    border-radius: 6px;
    margin-bottom: 32px;
    cursor: pointer;
    /*background-image: url("https://cdn.fishki.net/upload/post/2018/09/04/2694772/64b5e064f27accff2b3d09505a448079.jpg");*/
    background-size: cover
}
.cardActive{
    border: 7px solid #4FE24A;
}
.filterGroup{
    position: absolute;
    bottom: 58px;
    left: 48px;
}
.btn{
    margin-bottom: 14px;
    padding: 9px 16px;
    background: #FFFFFF;
    color: #391400;
    border-radius: 19px;
    cursor: pointer;
}
.name{
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    border-radius: 6px;
}
@media (max-width: 1040px) {
    .filterGroup{
        left: 28px;
        bottom: 58px;
    }
    .wrapper:last-child{
        margin-bottom: 0;
    }
}