.wrapper{
    position: relative;
    max-width: 374px;
    width: 100%;
    min-height: 416px;
    background: #5C2000;
    mix-blend-mode: normal;
    opacity: 0.32;
    border-radius: 6px;
    margin-bottom: 32px;
}
.cardActive{
    border: 7px solid #4FE24A;
}
.filterGroup{
    position: absolute;
    bottom: 58px;
    left: 48px;
}
.btn{
    margin-bottom: 14px;
    padding: 9px 16px;
    background: #FFFFFF;
    color: #391400;
    border-radius: 19px;
    cursor: pointer;
}
.name{
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
